
.consome__btn{
    display: block;
    color: black;
    background-color: white;
    border: 1px solid black;
    padding: 1rem 2rem 1rem 2rem;
    font-weight: bold;
}
.consome__btn:hover{
    text-decoration: underline;
    color: black;
}
.consome__btn:active{
    box-shadow: 5px;
}
.consome__btn--black{
    color: white;
    background-color: black;
}
.consome__btn--black:hover{
    color:white!important;
}
.consome__btn--black:active{
    color: yellow!important;
}
.consome__margin-bottom{
    margin-bottom: 6rem;
}
.header-consome__banner{
    width: 100%;
    height: auto;
}
.consome__h1--smaller, .consome__h3--smaller{
    font-size: 1.5rem;
}
.consome__p--smaller{
    font-size: 0.5;
}
.consome__ul{
    padding: 0;
    list-style: none;
}

.consome__svg{
    width: 1rem;
}
.consome__carousel-inner{
    height: 280px!important;
}
.consome__img{
    width: 100%;
    height: auto;
}
.sect6-consome__card--a{
    opacity: 0.8;
}
.sect6-consome__card--a:hover{
    opacity: 1;
}
.sect6-consome__text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.sect6-consome__span{
    font-size: 2rem;
}
.sect7-consome__p{
    font-size: 2.5rem;
    font-weight: 100;
}
.sect7-consome__btn{
    display: block;
    margin: 1% auto 0 auto;
    font-weight: 400;
    width: 50%;
    text-align: center;
}
.sect7-consome__btn:hover{
    text-decoration: underline!important;
}
.sect7-consome__btn--black{
    color: white!important;
    background-color: black;
}
.sect7-consome__btn--black:hover{
    color: white!important;
}
.sect7-consome__btn--black:active{
    box-shadow: 5px;
}